.damier {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-gap: 2px;
}

form {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
}

form ul {
    display: flex;
}

form li {
    list-style-type: none;
    margin: 10px;
}
.case {
    width : 60px;
    height: 60px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

