.kanban {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1500px;
    height: 575px;
}

body {
    background-color: lightseagreen;
}

.nouveau, .cours, .annulé, .terminé {
    border: 5px solid darkcyan;
    border-radius: 20px;
    background-color: lightseagreen;
    overflow-y: scroll;
    scrollbar-color:darkcyan lightseagreen;
    scrollbar-width: none;
}

.bin {
    float:right;
    width: 50px;
    height: 50px;
    margin-left:5px;
    background-position: center;
    background-image : url('../images/trash.png ');
    background-size: 90%;
}
.action {
    margin-left: 100px;
    float:right;
}

.cartouche {
    margin:auto;
    margin-bottom: 20px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height:50px;
    background-color: lightgreen;
}

.menu {
    width: 100px;
}

.button {
    float:right;
    width: 30px;
    height: 30px;
    margin-left:5px;
    background-position: center;
}

.create {
    background-image: url("../images/add_task.png");
    background-size: 90%;
    border-radius:10px;
}

.search {
    background-image: url("../images/search_task.png");
    background-size: 90%;
    border-radius:10px;
}

.filter {
    background-image: url("../images/filter_task.png");
    background-size: 90%;
    border-radius:10px;
}

.start {
    background-image: url("../images/start_task.png");
    background-size: 90%;
    background-color: teal;
    border-radius:10px;
}

.edit {
    background-image: url("../images/edit_task.png");
    background-size: 90%;
    background-color: lightseagreen;
    border-radius:10px;
}

.cancel {
    background-image: url("../images/giveup_task.png");
    background-size: 90%;
    background-color: orange;
    border-radius:10px;
}

.close {
    background-image: url("../images/task_done.png");
    background-size: 90%;
    background-color: cyan;
    border-radius:10px;
}

.delete {
    background-image: url("../images/delete_task.png");
    background-size: 90%;
    background-color: lightcoral;
    border-radius:10px;
}

.titre {
    float:left;
    width: 175px;
}

.titre p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

legend {
    margin-left:30px;
}

.dialog {
    padding:30px;
    border: 2px solid darkcyan;
}

.dialog button {
    margin-left: 25%;
}